.App {
  background-color: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
  margin: 0 auto;
  text-align: center;
}

.heading {
  background-color: rgb(143, 143, 143);
  padding: 15px;
  color: white;
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 0 auto;
}

form {
  display: flex;
  margin: calc(1rem + 1rem) calc(2rem + 1rem) 0 calc(2rem + 1rem);
}

input[type="text"] {
  flex: 8;
  padding: 5px;
  font-size: calc(5px + 2vmin);
}

button[type="submit"] {
  flex: 2;
  font-size: calc(5px + 2vmin);
  background-color: rgb(143, 143, 143);
  color: white;
  border: none;
}

.list {
  margin: 20px 0 50px 0;
  font-size: calc(5px + 2vmin);
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0 auto;
  padding: 15px;
  border: none;
  flex-direction: column;
}

.desc {
  width: 150px;
  height: 200px;
  padding: 10px;
}

h2 {
  font-size: 15px;
}

p {
  font-size: 10px;
}